body{
    height: 100vh;
    background-color: black;
}

.container{
    /* width: 100px;
    height: 100px;
    background: blue; */
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transform: translate(-50%, -50%);
    margin-left: 90px;
}

.checked{
    color: orange;
}

img {
    display: block;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    border-radius: 25px;
    /* margin-left: 9%; */
}

.parents{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   align-items: center;
    /* border: 1px solid black; */
    gap: 30px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50% 20%;
    color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 18%;

}

a{
    color: aliceblue;
    padding: 2%;
    background-color: black;
    border-radius: 25%;
}



@media screen  and ( max-width: 1024px){
    
}

@media screen and (max-width: 900px){
    
}

@media screen and (max-width: 600px) {

}