body{
    height: 100vh;
    background-color: rgb(66, 12, 12);
}

img {
    display: block;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    /* margin-left: 9%; */
}

.parents{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   align-items: center;
    /* border: 1px solid black; */
    gap: 30px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 18%;

}

a{
    color: aliceblue;
    padding: 2%;
    background-color: maroon;
    border-radius: 25%;
}

@media screen  and ( max-width: 1024px){
    
}

@media screen and (max-width: 900px){
    
}

@media screen and (max-width: 600px) {

}