body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: papayawhip;
    
}

.div{
    background-color: black;
    padding: 10%;
    border-radius: 25px;
}

h1{
    color: white;
    font-size: large;
}

input{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 3%;
    font-size: medium;
    border-radius: 20px;
}

button{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 60px;
    background-color: transparent;
    color: white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 20px;
    padding: 3%;
    width: 50%;
}

a{
    margin-left: 35px;
    color: white;
    padding: 3%;
}

@media screen  and ( max-width: 1024px){
    
}

@media screen and (max-width: 900px){
    
}

@media screen and (max-width: 600px) {

}